@import 'variables';

.type-water {
    background-color: $water;
    color: $card-text;
}
.type-fire {
    background-color: $fire;
    color: $card-text;
}
.type-normal{
    background-color:$normal;
    color: $card-text;
}
.type-fighting{
    background-color: $fighting;
    color: $card-text;
}
.type-flying{
    background-color: $flying;
    color: $card-text;
}
.type-poison{
    background-color: $poison;
    color: $card-text;
}
.type-ground{
    background-color: $ground;
    color: $card-text;
}

.type-rock{
    background-color: $rock; 
    color: $card-text;
}
.type-bug{
    background-color: $bug;
    color: $card-text;
}
.type-ghost{
    background-color: $ghost;
    color: $card-text;
}
.type-steel{
    background-color: $steel;
    color: $card-text;
}
.type-grass{
    background-color: $grass;
    color: $card-text;
}
.type-electric{
    background-color: $electric;
    color: $card-text;
}
.type-psychic{
    background-color: $psychic;
    color: $card-text;
}
.type-ice{
    background-color: $ice;
    color: $card-text;
}
.type-dragon{
    background-color: $dragon;
    color: $card-text;
}
.type-dark{
    background-color: $dark;
    color: $card-text;
}
.type-fairy{
    background-color: $fairy;
    color: $card-text;
}
.type-unknown{
    background-color: $unknown;
    color: $card-text;
}